<div class="content">
    <button class="btn create" routerLink="/crear">Crea tu buzón</button>
    <h1>Navidiversión</h1>
    <p class="info">Buzón de: <span class="author">Jimmy Acero</span></p>
    <p>Hola querida familia he creado este buzón de navidad para que escriban su carta de deseos al niño dios.</p>
    <p>Los quiero mucho!!!</p>
    <form>
        <p><input placeholder="Tu nombre" /></p>
        <p><textarea placeholder="Escribe tus deseos aqui!"></textarea></p>
        <p><button type="submit">Enviar deseos</button></p>
    </form>
</div>
